nav{
    display:grid;
    grid-template-columns:5fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);
    height:fit-content;
    
}
.logo
{
    justify-self: start;
    max-height: 10vh;
}
nav a{
    text-decoration: none;
    padding:10px;
    color:black;
    
}
nav a:hover{
    background-color: rgba(73,94,87,255);
    border-radius: 10px;
    color:rgba(244,206,20,255);
}

@media screen and (max-width:768px){
    nav
    {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        height: fit-content;
    }
}